<tr>
  <td><div class="thumb_container"><%= image_tag birthday.image.url(:thumb), class: "thumb" %></div></td>
  <td><%= birthday.name %></td>
  <td><%= link_to 'Show', birthday %></td>
  <td><%= link_to 'Edit', edit_birthday_path(birthday) %></td>
  <td><%= link_to 'Destroy', birthday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>